head
  link(rel="stylesheet"
       href="http://fonts.googleapis.com/css?family=Fontdiner+Swanky|Syncopate:700|Ubuntu"
       type="text/css")
  link(rel="apple-touch-icon-precomposed"
       sizes="152x152"
       href="/favicon-152.png")
  link(rel="shortcut icon"
       href="/favicon.ico")
  title SteezTest.me

template(name="loadingPage")
  #loading-page
    #preloader

template(name="loggedInLayout")
  header
    .container
      a.logo(href="{{pathFor route='home'}}") SteezTest.me
      +loginButtons(align="right")
  article
    .container
      .col-md-3
        +list
      .col-md-9
        +yield

template(name="list")
  #list
    ul.nav.nav-pills.nav-stacked
      li(class="{{#if active}}active{{/if}}")
        a(href="{{pathFor route='test.create'}}")
          | Create New Test
      li.disabled.nav-header
        if empty
          a No Test Cases
        else
          a Test Cases:
    ul.nav.nav-pills.nav-stacked
      each cases
        li(class="{{#if active}}active{{/if}}")
          a(href="{{pathFor route='test.details' data=this}}"
            title="#{title}" data-id="#{_id}")= title

template(name="dashboard")
  h1 dashboard

